* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    overflow-x: hidden;
}

#content {
    width: 100%;
}

#main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    width: 100%;
    position: relative;
    top: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
}

#nav img {
    height: 50px;
    width: 50px;
    mix-blend-mode: multiply;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.5));
}

#box {
    font-size: 2vw;
    text-align: center;
    position: relative;
    background-color: white;
    padding: 1vw 20%;
    left: 0;
    text-transform: capitalize;
    margin: 0px 1vw;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#nav #part-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #part-2 a {
    text-decoration: none;
    font-size: 1.8vw;
    color: #222;
    margin: 15px;
}

#nav #part-2 a:nth-last-child(1) {
    /* background-color: yellow; */
    padding: 5px 5px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

#nav #part-2 a:nth-last-child(1) #green {
    width: 100%;
    height: 100%;
    background-color: springgreen;
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
}

#nav #part-2 a:nth-last-child(1) h5 {
    font-weight: 500;
    position: relative;
    z-index: 99;
}

#nav #part-2 a:nth-last-child(1):hover #green {
    left: 0;
}

#main>h1 {
    font-size: 5vw;
    font-weight: 100;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: red; */
    text-align: center;
}

.home-content h3 {
    font-size: 5.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    color: rgb(27, 215, 209);
}

@keyframes slideBottom {
    0% {
        transform: translatey(30px);
        opacity: 0;
    }
    30% {
        transform: translatey(0);
        opacity: 1;
    }
}

.home-content h3 span {
    font-size: clamp(12px, 2.3vw, 32px);
    color: rgb(22, 149, 222);
}

.home-content h4 {
    font-size: clamp(12px, 5vw, 32px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: violet;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(53, 128, 165), 0 0 0.2em rgb(0, 0, 0);
}

.home-content h4 span {
    color: rgb(40, 247, 178);
}

.home-content h1 {
    font: sans-serif;
    font-size: clamp(12px, 6vw, 32px);
    color: #008b8b;
    font-weight: 300;
    animation: slideRight 5s ease forwards;
    animation-delay: 0s;
    visibility: inherit;
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#btn-pdf {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    text-decoration: none;
    border-radius: 15px 15px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
}

#btn-pdf:hover {
    background: rgb(37, 234, 248);
    border: 2px solid red;
    color: black;
}

#intro {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
}

#intro .right {
    height: 100%;
    width: 55%;
    margin: 0 20px;
}

#intro .right .box-main {
    width: 80%;
    margin: 15px 6px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #02d9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}

#intro .left {
    text-align: center;
    position: relative;
    padding: 20px 0px;
    text-transform: capitalize;
    width: 40%;
}

#intro .left h2 {
    color: #008b8b;
    font-size: 4vw;
    display: flex;
    justify-content: center;
}

#intro .left p {
    color: #008b8b;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}

#eduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 10px;
}

.container {
    align-items: center;
    color: #222;
    font-size: 2vw;
    padding: 0 10px 20px 0;
}

.container h2 {
    margin: 1vw;
    font-size: 3vw;
    padding: 1rem;
    background-image: linear-gradient(140deg, #40ffa6, #e7e6ec 50%, #00DDEB);
    border-radius: 5px;
}

.container h4 {
    font-size: 2.5vw;
}

.container p {
    font-weight: 100;
    font-size: 2vw;
    font-family: sans-serif;
}


/* work */

#design {
    display: inline;
    text-align: center;
}

#design h3 {
    font-size: 3vw;
    padding: 0 15px;
    margin-bottom: 15px;
}

#design p {
    font-size: 2.5vw;
    padding: 0 15px;
    margin-bottom: 15px;
}


/* work */

#technical-skills {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}

.line-html {
    width: 100%;
    height: 17px;
    background-color: rgb(210, 49, 49);
    animation: lineAnimation 1s ease-in-out infinite alternate;
}

@keyframes lineAnimation {
    from {
        width: 90%;
    }
    to {
        width: 100%;
    }
}

.line-css {
    width: 100%;
    height: 17px;
    background-color: rgb(53, 60, 247);
    animation: lineAnimation1 1s ease-in-out infinite alternate;
}

@keyframes lineAnimation1 {
    from {
        width: 80%;
    }
    to {
        width: 100%;
    }
}

.line-bootstrap {
    width: 100%;
    height: 17px;
    background-color: rgb(131, 244, 100);
    animation: lineAnimation2 1s ease-in-out infinite alternate;
}

@keyframes lineAnimation2 {
    from {
        width: 70%;
    }
    to {
        width: 100%;
    }
}

.line-javascript {
    width: 100%;
    height: 17px;
    background-color: rgb(225, 70, 205);
    animation: lineAnimation3 1s ease-in-out infinite alternate;
}

@keyframes lineAnimation3 {
    from {
        width: 70%;
    }
    to {
        width: 100%;
    }
}

.bar {
    font-size: 25px;
}

.progress-container {
    width: 100%;
    background-color: #390505;
}

.heading {
    font-size: 25px;
    color: teal;
}


/* footer */

#footer {
    z-index: 1;
    width: 100%;
    height: auto, 600vh;
    background-color: rgb(0, 0, 0);
}

#footer .navbar a {
    font-size: 2.5vw;
    color: rgb(24, 3, 251);
    text-decoration: none;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 15px;
}

#footer .navbar a:hover {
    text-shadow: 2px 1px 3px red, 0 0 2em rgb(244, 248, 2), 0 0 0.2em rgb(0, 0, 0);
}

#footer h3 {
    font-size: 2vw;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.list {
    top: 0;
    padding: 10px 0 0 0;
    text-align: center;
}

ol {
    color: whitesmoke;
    font-size: 2vw;
    text-decoration: none;
    /* padding: 10px 50px; */
    color: #ffffff;
    margin: 5px;
    text-align: center;
}

.content-2 h2 {
    color: dodgerblue;
    font-size: 2.8vw;
}

.content-2 p {
    color: whitesmoke;
    font-size: 2.2vw
}

.footer-content {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    display: auto;
}

.social {
    text-align: center;
    padding: 20px 0;
}

.social a {
    font-size: 2vw;
    background-color: white;
    height: 5px;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 50%;
}

.social:hover> :not(:hover) {
    opacity: 0.3;
}

.social a:hover {
    background-color: #02bbff;
    color: #052522;
    box-shadow: 0 0 20px rgb(205, 236, 236);
}
